:host {
  display: flex;
  flex-direction: column;

  .dragoon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0;

    .pilot-name {
      width: 10%;
      text-align: center;
    }

    .plane-container {
      cursor: pointer;

      fd-dragoon {
        width: 90%;
      }
    }
  }
}