:host {
  display: flex;
  flex-direction: column;

  .dragoon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 50px 25px;

    .pilot-name {
      font-size: 25px;
      padding: 15px 0;
      text-align: left;
    }

    .plane-container {
      cursor: pointer;
    }
  }
}