:host {
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  animation: cycle infinite 50s;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
  animation: cycle infinite 50s;

  .lane-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  @keyframes cycle {
    0% {
      background-image: url("../../../assets/img/bg_day.png");
    }

    45% {
      background-image: url("../../../assets/img/bg_dawn.png");
    }

    70% {
      background-image: url("../../../assets/img/bg_dusk.png");
    }

    90%,
    100% {
      background-image: url("../../../assets/img/bg_day.png");
    }
  }
}