<div *ngIf="dragoon" class="dragoon" [class.in-hangar]="inHangar" [style.--plane-height]="planeHeightPx + 'px'"
  [@flying]="inFlight === true ? 'flight' : 'standby'" (@flying.done)="completeFlight($event)">
  <div class="plane" (mouseenter)="displayName()" (mouseleave)="hideName()">
    <img *ngIf="!inHangar" class="plane-propeller" src="assets/img/spinner.png" draggable="false">
    <img class="plane-body" [src]="dragoon.imagePath" draggable="false">
    <span *ngIf="showName && !inHangar" class="pilot-name">{{ dragoon.name }}</span>
  </div>
  <div class="banner">
    <img class="banner-img" src="assets/img/banner2.png" draggable="false">
    <div class="banner-message">
      <p>
        {{ dragoon.message }}
      </p>
    </div>
  </div>
</div>