@import '../../../styles/colors.scss';

:host {
  --plane-height: 190px;

  .dragoon {
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &:not(.in-hangar) {
      left: 100vw;
    }

    .plane {
      position: relative;
      min-height: var(--plane-height);
      display: inline-block;

      img {
        user-select: none;
      }

      .plane-propeller {
        z-index: 3;
        position: absolute;
        height: calc(var(--plane-height) / 2.15);
        top: 40%;
        left: -4%;
        opacity: 50%;
      }

      .plane-body {
        z-index: 2;
        position: relative;
        height: var(--plane-height);
      }

      .tag {
        z-index: 4;
        position: absolute;
        top: 50%;
        left: 20%;

        .pilot-name {
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: white;
          opacity: 90%;
          width: 0;
          animation: typing 0.5s forwards;
          overflow: hidden;
          white-space: nowrap;

          text-align: center;
          color: white;
          font-weight: lighter;
          font-size: calc(var(--plane-height) / 12);
          letter-spacing: calc(var(--plane-height) / 60);
          border-radius: calc(var(--plane-height) / 12);

          @keyframes typing {
            from {
              width: 0;
              background-color: $yellow;
            }

            to {
              width: 100%;
              background-color: $selen-purple;
            }
          }
        }
      }
    }

    .banner {
      z-index: 1;
      left: calc(var(--plane-height) / -7);
      margin-left: 0px;
      position: relative;
      display: inline-block;
      user-select: none;

      .banner-img {
        position: relative;
        height: var(--plane-height);
      }

      .banner-message {
        position: absolute;
        color: #000;
        padding-left: 12%;
        padding-right: 10%;
        box-sizing: border-box;
        width: calc(var(--plane-height) * (2609 / 639));
        left: 0px;
        top: 0px;
        height: var(--plane-height);
        display: flex;
        align-items: center;
        user-select: text;
        font-family: 'Handlee', sans-serif;

        p {
          text-align: center;
          font-size: calc(var(--plane-height) * 0.12);
          margin: auto;
          width: calc(100% - 20px);
          max-height: calc(var(--plane-height) - 20px);
          box-sizing: border-box;
          // padding: 10px;

          &.ellipsis {
            text-overflow: ellipsis;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
          }

          &.scroll {
            overflow: scroll;
          }
        }
      }
    }
  }

}