:host {
  display: block;
  width: calc(100vw - 96px);
  height: 100%;

  z-index: 0;
  background-image: url("../../../assets/props/background/bgfull.png");
  background-repeat: repeat-x;
  background-size: auto 100vh;
  animation: background-slide 60s linear infinite;
  position: absolute;
  overflow: hidden;

  .lane-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .sun {
      z-index: 0;
      width: 300px;
      position: absolute;
      animation: sun-slide 5s linear;
      right: 40px;
      top: 40px;
    }

    .far-background-cloud,
    .background-cloud {
      z-index: 0;
      position: absolute;
      opacity: 0.95;
    }

    .foreground-cloud {
      position: absolute;
      opacity: 0.95;
      z-index: 2;
    }

    fd-selen-lane,
    fd-lane {
      z-index: 1;
    }

    @keyframes background-slide {
      from {
        background-position-x: 0;
      }

      to {
        background-position-x: calc(100vh * (7012 / 2480));
      }
    }
  }
}