@import '../../../styles/colors.scss';

:host {
  display: block;
  width: calc(100vw - 96px);
  height: 100%;

  z-index: 0;
  background-image: url("../../../assets/props/background/bgfull.png");
  background-repeat: repeat-x;
  background-size: auto 100vh;
  animation: background-slide 60s linear infinite;
  position: absolute;
  overflow: hidden;

  .hint-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 20vw;
    background-color: $dark-grey;
    border-radius: 5px;

    .hint {
      font-size: 20px;
      padding: 20px;
      color: white;
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .hint-button {
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 50px;
        background-color: $selen-purple;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }

  .lane-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .sun {
      z-index: 0;
      width: 300px;
      position: absolute;
      animation: sun-slide 5s linear;
      right: 40px;
      top: 40px;
    }

    .far-background-cloud,
    .background-cloud {
      z-index: 0;
      position: absolute;
      opacity: 0.95;
    }

    .mascot {
      z-index: 0;
      position: absolute;
    }

    .foreground-cloud {
      position: absolute;
      opacity: 0.95;
      z-index: 2;
    }

    fd-selen-lane,
    fd-lane {
      z-index: 1;
    }

    @keyframes background-slide {
      from {
        background-position-x: 0;
      }

      to {
        background-position-x: calc(100vh * (7012 / 2480));
      }
    }
  }
}