@import '../../../styles/colors.scss';

:host {
  .credits-container {
    width: calc(100vw - 96px);
    height: 100vh;
    padding-left: 20px;
    overflow-y: scroll;
    background-color: $dark-grey;
    color: white;

    .credits-header {
      color: white;
    }

    .credits-body {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      .credits {
        .credits-row {
          display: grid;
          padding: 10px 0 10px;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          padding-left: 20px;

          .name {
            font-weight: 700;
          }

          .credit {
            &::before {
              content: '- ';
            }
          }
        }
      }
    }
  }
}