<div class="credits-container">
  <h1 class="credits-header">
    Dragoons who helped build the site
  </h1>
  <div class="credits-body">
    <div class="credits">
      <div class="credits-row">
        <div class="name">
          13thSector
        </div>
        <div class="credit">
          Promotion, additional assistance
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          aletheia
        </div>
        <div class="credit">
          Asset procurement
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Brightentayle
        </div>
        <div class="credit">
          Daemons Are Real, advice, additional assistance
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          CrazyGoodDude
        </div>
        <div class="credit">
          Advice, additional assistance
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          csenge_furi
        </div>
        <div class="credit">
          Art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          DeadNinja1
        </div>
        <div class="credit">
          Additional assistance
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Genesis
        </div>
        <div class="credit">
          Site development
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          GuyWithADog
        </div>
        <div class="credit">
          Site development, art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          heckacentipede
        </div>
        <div class="credit">
          Art, organizing
        </div>
      </div>
    </div>
    <div class="credits">
      <div class="credits-row">
        <div class="name">
          hyuni
        </div>
        <div class="credit">
          Art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          KannaSP
        </div>
        <div class="credit">
          Site hosting, sugar daddy
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Killbasa
        </div>
        <div class="credit">
          Advice, additional assistance
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Kyzoluxray
        </div>
        <div class="credit">
          Art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          LanternLi1ac
        </div>
        <div class="credit">
          Art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Lizard
        </div>
        <div class="credit">
          Planning, organizing, art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Mashiro396
        </div>
        <div class="credit">
          Art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Niko
        </div>
        <div class="credit">
          Art, additional assistance
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          NoxShadow
        </div>
        <div class="credit">
          Asset procurement
        </div>
      </div>
    </div>
    <div class="credits">
      <div class="credits-row">
        <div class="name">
          rhuiii
        </div>
        <div class="credit">
          Site development, art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Richie
        </div>
        <div class="credit">
          Advice, additional assistance
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          RoamingTuna
        </div>
        <div class="credit">
          Art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Shiro.Neko
        </div>
        <div class="credit">
          Promotion
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          TheAntiYuu
        </div>
        <div class="credit">
          Art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          tsukiyomi_arts
        </div>
        <div class="credit">
          Art
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          v3s
        </div>
        <div class="credit">
          Advice, moral support
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          Various1013
        </div>
        <div class="credit">
          Publicity, additional assistance
        </div>
      </div>
      <div class="credits-row">
        <div class="name">
          xXNovaNepsXx
        </div>
        <div class="credit">
          Art
        </div>
      </div>
    </div>
  </div>
</div>