@import '../../../styles/colors.scss';

:host {
  .menu-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;

    .menu-content {
      width: calc(100vw - 96px);
      overflow-x: scroll;
      z-index: 0;
    }

    .menu-sidenav {
      height: 100vh;
      background-color: $dark-grey;
      min-width: 75px;
      position: fixed;
      right: 0;
      box-shadow: 0 0 30px 0 rgba($selen-purple, 0.3);
      z-index: 1;
    }
  }
}