@import '../../../styles/colors.scss';

:host {
  .menu-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;

    .menu-content {
      width: 90%
    }

    .menu-sidenav {
      height: 100vh;
      background-color: $dark-grey;
      width: 10%;
      position: fixed;
      right: 0;
    }
  }
}