@import '../../../styles/colors.scss';

:host {
  .menu-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;

    .menu-content {
      width: calc(100vw - 96px);
    }

    .menu-sidenav {
      height: 100vh;
      background-color: $dark-grey;
      min-width: 75px;
      position: fixed;
      right: 0;
    }
  }
}