<div class="dar">
  <main>
    <header>
      <img src="assets/dar/logowide.png">
    </header>

    <figure class="banner">
      <img src="assets/dar/slen_banner.png">
    </figure>

    <article>
      <h2>What is this?</h2>
      <p>Daemons Are Real is an ongoing project by brightentayle, with the overall goal of bringing the joy of Doom
        multiplayer to the masses, no matter what they're playing Doom on. And, uh, I guess we're doing the whole
        "Fortnite but better" thing. Definitely should be better, since it's not as ADHD-inducing.</p>
      <p>DAR was inspired by Pomu Rainpuff's Doom streams, where she puts her face where Doomguy's resides on the HUD -
        that, naturally, became a full-on, Pomu-themed player sprite replacement. Everything was basically made from
        scratch, to avoid tracing/editing Doomguy for a billionth time. Plans to make Selen Tatsuki's fanbase mascot, a
        Dragoon, have been shelved in favour of doing Selen herself; however, due to real life being real life, neither
        has been finished. Yet.</p>
      <p>The pack contains two skins, both being co-op, deathmatch and even singleplayer-ready! As long as your copy of
        Doom can run mods, either vanilla (complete graphics and sound replacement) or Doom Legacy (per-player
        appearance)
        version should work just fine. Hell, if you have a toaster that plays the thing, you can put the murasaki dragon
        on it, too.</p>
      <p>There's bigger plans for the project, like mappacks, tutorials and maybe even game events! But that's for
        another
        day...</p>
      <p class="center"><small><b>A very legal disclaimer:</b> Daemons Are Real has nothing to do with Davester2296. In
          case you ask, both get shortened to "DAR". Pure coincidence.</small></p>
    </article>

    <figure class="gallery">
      <a href="assets/dar/Selen1.png" target="_blank"><img src="assets/dar/Selen1_thumb.png"></a>
      <a href="assets/dar/Selen2.png" target="_blank"><img src="assets/dar/Selen2_thumb.png"></a>
      <a href="assets/dar/Selen3.png" target="_blank"><img src="assets/dar/Selen3_thumb.png"></a>
      <a href="assets/dar/Selen4.png" target="_blank"><img src="assets/dar/Selen4_thumb.png"></a>
    </figure>

    <article>
      <h2>I'm sold. Wat do?</h2>
      <p>First, download the character pack by clicking on the button right below! Then check what source port or
        executable you're using to run Doom and follow the instructions further below.</p>
      <p><a class="dl center" href="assets/dar/DAR_Chars_2022-11-25.7z">DOWNLOAD (2022/11/25 RELEASE)</a></p>
      <p><b>Doom Legacy, GZDoom and Zandronum</b>: Create a folder called "skins" and copy the charpack there. Then
        change
        your appearance through the game settings.</p>
      <p><b>ZDaemon and any port that doesn't support skins</b>: Load the game with the parameter -file, followed by the
        charpack (specifically for ZDaemon) or a vanilla skin WAD. This can be done two ways: either via the command
        line
        or <a href="assets/dar/wad_example.png" target="_blank">by making a .BAT file</a>.</p>
      <p><b>Chocolate Doom:</b> Same as before, but with the -merge argument instead of -file. Chocolate Doom emulates
        DOS
        Doom's quirk that <i>demands</i> every sprite to be present in the WAD, otherwise, either executable will crash.
      </p>
      <p><b>The original DOS version:</b> Because of the thing I've just mentioned, the doomers of olde used to have a
        special utility called <a href="https://www.doomworld.com/idgames/utils/graphics_edit/deutex/deutex36">DEUSF</a>
        which takes Doom's original sprites and puts them alongside modded ones into the same WAD. This extra step is
        still required if you want the genuine DOS experience (unless you're happy with how Chocolate Doom recreates
        it),
        but thankfully, <a href="assets/dar/deusf_example.png" target="_blank">it's quite easy to use</a>. Better yet,
        <a
          href="https://www.doomworld.com/forum/topic/114671-%F0%9F%8D%A6-big-vanilla-doom-wad-pack-rev-16-may-24th-2022-maximum-doom-the-way-kid-did/">get
          Doomkid's curated vanilla mod pack</a>. Or, even better, <a
          href="https://www.doomworld.com/forum/topic/128931-idmanager-the-definitive-dos-launcher-v19/">get idManager
          from here</a>.</p>
      <p class="center"><small><b>Another legal disclaimer:</b> This mod is provided to you as is. If you use it, and
          then
          start tripping balls or some shit, I'm outski. Nope. Don't @ me.</small></p>
    </article>

    <figure class="gallery">
      <a href="assets/dar/Pomu1.png" target="_blank"><img src="assets/dar/Pomu1_thumb.png"></a>
      <a href="assets/dar/Pomu2.png" target="_blank"><img src="assets/dar/Pomu2_thumb.png"></a>
      <a href="assets/dar/Pomu3.png" target="_blank"><img src="assets/dar/Pomu3_thumb.png"></a>
      <a href="assets/dar/Pomu4.png" target="_blank"><img src="assets/dar/Pomu4_thumb.png"></a>
    </figure>

    <article>
      <p>Also, I'm looking for volunteers who could help me with voxelising sprites and shading them! Your efforts are
        guaranteed to not be forgotten. Shoot me a message in either Discord down below.</p>
    </article>

    <!-- optimise this shit fr -->

    <article class="center">
      <p class="middle"><img src="assets/dar/atwork.gif"> <img src="assets/dar/constrct.png"> <img
          src="assets/dar/atwork.gif"></p>
      <p><small>You are visitor number <b>69</b> on this site (nice).<br>Placeholder(?) sounds nabbed from Quake III
          Arena.</small></p>
    </article>

    <article>
      <table class="webring center">
        <tbody>
          <td class=".icon" width="15%">
            <a href="https://selentatsuki.net">
              <img src="assets/dar/agoru.png" alt="Selen Tatsuki Ring Home"></a>
          </td>
          <td width="33%"><b>
              This <a href="https://selentatsuki.net">Selen Tatsuki Ring</a> site is owned by <a
                href="https://ta9le.mnk.systems">Tayle "brightentayle" Grinder</a> and is endorsed by <a
                href="https://discord.gg/selen">Dragooncord</a>
              <br><br>
              Click <a href="https://selentatsuki.net"> to go to the home page</a><br><br>
              Click to join the <a href="https://discord.gg/f4RtSYg4CZ">Daemons Are Real Discord</a></b>
          </td>
          <td class=".icon" width="15%">
            <a href="https://discord.gg/selen">
              <img src="assets/dar/gooncord.png" alt="Dragooncord"></a>
          </td>
        </tbody>
      </table>
    </article>
  </main>
</div>